# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/mobile-app/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/mobile-app/.next/
/out/
/mobile-app/out/

# production
/build
/mobile-app/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
###.env*.local - nothing sensitive in this, we want to commit it

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
